
/**
 * Fonts
 */
@font-face {
	font-family: MozTT;
	src: url('fonts/MozTT-Light.ttf');
  font-weight: lighter;
}
@font-face {
	font-family: MozTT;
	src: url('fonts/MozTT-Regular.ttf');
  font-weight: normal;
}
@font-face {
	font-family: MozTT;
	src: url('fonts/MozTT-Medium.ttf');
  font-weight: bold;
}
@font-face {
	font-family: MozTT;
	src: url('fonts/MozTT-Bold.ttf');
  font-weight: bolder;
}

/**
 * Layout
 */

* { 
  font-family: MozTT;
  box-sizing: border-box;
}

html, body { height: 100% }
body { margin: 0 }

header.top {
  height: 15%;
  max-height: 100px;
  overflow: hidden;
}
  header.top h1 {
    font-weight: lighter;
    text-align: center;
  }
  .server-ip {
    display: block;
    font-size: 12px;
  }

section.content {
  height: 85%;
  overflow: hidden;
}

ul.messages {
  height: 90%;
  margin: 0;
  overflow: auto;
}
form.messenger {
  height: 10%;
}

/**
 * Components
 */

button[type=button] {
  width: 200px;
  height: 60px;
  display: block;
  margin: 10px auto;
  font-size: 20px;
  border: solid 1px #E8E8E8;
  background-color: #DCF4F3;
}

button[type=button]:active {
  border: solid 1px orange;
}

button[type=button].disabled {
  color: #96ADAC;
}
button[type=button].disabled:active {
  border: solid 1px #E8E8E8;
}

.input-serverip {
  width: 300px;
  height: 30px;
  margin: 0 auto;
  display: block;
  border: solid 1px #96ADAC;
  font-size: 15px;
  padding: 0 5px;
  font-family: 'courier';
}

ul.messages {
  background-color: #3f3f3f;
  border-top: solid 1px #3f3f3f;
  border-bottom: solid 1px #3f3f3f;
  padding: 10px 30px;
} 
  li.message {
    list-style: none;
    color: #fff;
  }
  li.message.history, li.message.history span {
    color: #676767;
  }
  li.message span {
    color: #c6c6c6;
    margin: 0 5px 0 0;
  }
  li.message span:after {
    content: ':';
  }

form.messenger input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  font-size: 15px;
  padding: 0 10px;
}
